@CHARSET "UTF-8";

/*====================================login/join 페이지 기본 style=====================================*/
/* 근데 페이지에서 안먹음 왜 안먹음 누가 좀 먹여주라주ㅠㅠ 0615된다 해따ㅇㅋㅇㅋ*/
input[type="password"] {
	background: rgba(0, 0, 0, 0.05);
	border: none;
	box-shadow: none;
	font-weight: bold;
	font-size: 14px;
	padding: 5px 10px !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	width: 150%;
	color: #F78536 !important;
}

input[type="text"] {
	width: 150%;
}

img {
	width: 210px;
	height: 53px;
	border-radius: 8px;
	margin: 3px;
	cursor:pointer;
}
/*==================================================================================================*/

/*=============================유효성============================*/
.pwdck, .email-msg, .emailCheck, .passwordCheck, .nick-msg, .pwdCheck{color:red; font-size:13px;}
